.travel-notice-section {
  padding: 4040px 130px;
  background-color: #f4faff;
  text-align: center;
}

.travel-notice-title {
  font-size: 25px;
  font-weight: 700;
  color: #0a3d62;
  margin-bottom: 30px;
  display: block;
}

.notice-card {
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.notice-item {
  padding: 18px 12px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 17px;
  color: #222;
  text-align: left;
}

.notice-item:last-child {
  border-bottom: none;
}
