* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Genos", sans-serif;
}

.footer {
  background-color: #134958;
  color: #fff;
  padding: 30px 40px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-section,
.footer-brand {
  flex: 1 1 200px; /* chia đều, min 200px để dễ nhìn */
}

.footer h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer p,
.footer li {
  font-size: 14px;
  margin-bottom: 6px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons {
  display: flex;
  gap: 10px;
  font-size: 20px;
}
