.hero-section {
  text-align: center;
  background-color: #ffffff;
  padding: 0px;
}

.main-banner {
  width: 100%;
  max-width: 5001px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.below-image-wrapper {
  margin-top: 20px;
}

.below-image {
  width: 3000px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
